<div>
  <%= image_tag @user.avatar.url(:m), width: '200' if @user.avatar.present? %>
  <%= @user.username %>
  <%= @user.gender %>
  <%= @user.birth_date %>
  <%= @user.introduction %>
  <%= @user.email %>
</div>
