<h2><%= @event.name %></h2>
<p><%= @event.place %></p>
<p><%= image_tag @event.image.url(:original) if @event.image.present? %></p>
<p><%= @event.start_time.strftime('%Y/%m/%d %H:%M') %></p>
<p><%= @event.end_time.strftime('%Y/%m/%d %H:%M') %></p>
<p><%= simple_format(@event.content) %></p>

<%# 作成したユーザ情報を取ってこれる %>
<p><%= @event.owner.email %></p>

<% if user_signed_in? %>
  <%= link_to 'イベントを編集する', edit_event_path(@event), class: 'button' %>
  <%= link_to 'イベントを削除する', event_path(@event), class: 'button alert', method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
